$el-size: ($content-width / 3) - 9px;

.home{
  input[type=text]{
    width: 90%;
    margin: 0 5%;
    padding: 10px;
    margin-bottom: 30px;
  }

  .imgEl{
    position: relative;
    width: $el-size;
    height: $el-size;
    margin-right: 13px;
    margin-bottom: 13px;
    float: left;

    &:nth-child(3n + 1){
      margin-right: 0px;
    }

    a{
      position: absolute;
      bottom: 0px;
      overflow: auto;
      display:block;
      padding: 10px;
      box-sizing: border-box;
      width: 100%;
      background-color: rgba(0,0,0,0.7);
      color: white;
      text-decoration: none;
    }
  }
}
